
body {
    border-radius: 2.5rem;
    border:1px solid pink;
}
/* Navbar styling */

.navbar {
    margin:0 10% 0 10%;
    height: 90px;
}

.fa-solid {
    color: #FF5555;
}

sup {
    font-size: 0.25em !important;
    top: -2em !important;
}

.home-style {
    color: #FF5555 !important;
}

/* Body style */

.container {
    display: grid;
    margin-top: 3rem;
    margin:0 10% 0 10%;
}

/* part one styling  */
.item1 {
    margin-top: 5rem !important;
}

.head1 {
   font-size: 3rem !important;
   margin-bottom: 1rem;
}

.subhead {
    font-size: medium;
    margin-bottom: 1rem;
}

.btn {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.button3 {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
    background-color: transparent;
}

.reel img  {
    margin-top: 5rem;
    width: 100%;
}

.image0 {

    position: absolute;
    top: 20px;
    z-index: 0;
    margin-left: 2rem;  
    max-width: 100%;
}

.image1 {
  
    position: absolute;
    z-index: 3;
    max-width: 100%;
    
}

.image2 {
    position: absolute;
    top:6rem;
    margin-left: 5rem;
    z-index: 2;
    max-width: 100%;
}

.image3 {
    position: absolute;
    top:13.75rem;
    margin-left: 16rem;
    z-index: 0;
    max-width: 100%;
}

/* star stying */
.star1 {
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.star2 {
    position: absolute;
    left:3rem;
}

.star3 {
    position: absolute;
    left: 20%;
    bottom: 28%;
}

/* part2 styling */

.topic {
    color: #FF5555;
}

.title {
    font-weight: 800;
    color: black;
}

.item4 {
    margin-top: 8% !important;
}

.item5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faqs {
    display: grid;
    margin: 0 15% 0 15%;
    row-gap: 3rem;
    column-gap: 3rem !important;
}

.alternate {
    background-color: #FF5555;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}


